
body {
    background-color:#808080;
    color:white;
    font-family: sans-serif;
    font-size: 16px;
    padding: 0 12px 12px 12px;
    line-height: 1.5em;
  }
  
h1{
    position:sticky;
    top:0px;
    padding: 12px 0;
    background-color:#808080;
    line-height: 1.5em;
}

  table {
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;
    table-layout:fixed;
  }

.row-label {
    padding: 12px;
    font-weight: 600;
    width: 60px;
    text-align: right;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
}
tr{
    height:48px;
}

thead{
    border-bottom: 1px solid;
  }


td.color-cell {
    border: none;
    text-align:right;
  }

  td.color-cell:hover {
    outline: 4px solid white;
  }

#controls{
    column-gap: 200px;
    row-gap: 8px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
    align-items:center;
}

#colorPickers{
    gap:8px;
    display:flex;
    flex-direction:row ;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-between;

}

p{
    margin: 4px 0 8px 0;
}

li{
    margin-top: 8px;
}

/* Selects every third element in the parent */
/* tr:nth-child(3), tr:nth-child(5) {
    border-right: 1px solid white;
    margin-right:4px;
  } */

  .message-box {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
    z-index: 9999;
    display: none; /* Initially hidden */
    color: black;
  }

  #dropDown{
    padding: 6px 8px;
    margin: 12px 0;
    font-size:16px;
    flex-grow: 1;
  }

  .head {
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
  }

.colorPickerwithText{
    display: flex;
    justify-content: space-evenly;
}
.colorPickerLabel{
    margin-right: 4px;

}